<div>
    <h1>Test</h1>
    <form [formGroup]="formHolder!">
        {{formHolder.status}}
        <div class="container" formArrayName="questions"
            *ngFor="let question of formHolder?.get('questions')?.controls; let i=index;">
            <div class="card">
                <div class="card-body">

                    <h3 class="card-title">{{questionsList[i].question}}</h3>
                    <div [formGroupName]="i">
                        <div class="form-check">
                            <label for="{{'question'+i}}">{{questionsList[i].option1}}</label>
                            <input class="form-check-input" formControlName="question" value="option1" type="radio"
                                id="{{'option1'+i}}">
                            <span id="{{'question'+i+'option1'}}"></span>
                        </div>

                        <div class="form-check">
                            <label for="{{'question'+i}}">{{questionsList[i].option2}}</label>
                            <input class="form-check-input" formControlName="question" value="option2" type="radio"
                                id="{{'option2'+i}}">
                            <span id="{{'question'+i+'option2'}}"></span>
                        </div>

                        <div class="form-check">
                            <label for="{{'question'+i}}">{{questionsList[i].option3}}</label>
                            <input class="form-check-input" formControlName="question" value="option3" type="radio"
                                id="{{'option3'+i}}">
                            <span id="{{'question'+i+'option3'}}"></span>
                        </div>

                        <div class="form-check">
                            <label for="{{'question'+i}}">{{questionsList[i].option4}}</label>
                            <input class="form-check-input" formControlName="question" value="option4" type="radio"
                                id="{{'option4'+i}}">
                            <span id="{{'question'+i+'option4'}}"></span>
                        </div>




                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class="d-flex justify-content-center mr-2">
        <button (click)="checkAnswers()" [disabled]="!formHolder.valid">Submit
            Answers</button>
        <h2>
            {{score}}
        </h2>
    </div>
</div>