<div>

    <h1>
        Task Tracker
    </h1>

    <div class="md-form" id="inputForm">
        <form #taskEntryForm="ngForm" (ngSubmit)="addNewTask(taskEntryForm)">

            <mat-form-field>
                <mat-label>Task ID</mat-label>
                <input matInput type="number" name="id" class="form-control" ngModel required />
            </mat-form-field><br />
            <mat-form-field>
                <mat-label>Task Name</mat-label>
                <input matInput type="text" name="name" class="form-control" ngModel required />
            </mat-form-field><br />
            <mat-form-field>
                <mat-label>Task Information</mat-label>
                <textarea matInput class="form-control" name="info" ngModel required></textarea>
            </mat-form-field><br />
            <mat-form-field>
                <mat-label>Task Deadline</mat-label>
                <input matInput type="date" name="deadline" class="form-control" ngModel required /><br />
            </mat-form-field>
            <button mat-raised-button type="submit" value="Add Task">Add Task</button>
        </form>
    </div>

    <div id="taskTable">
        <table mat-table [dataSource]="taskList">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Task ID</th>
                <td mat-cell *matCellDef="let task">{{task.id}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Task Name</th>
                <td mat-cell *matCellDef="let task">{{task.name}}</td>
            </ng-container>
            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef>Task Info</th>
                <td mat-cell *matCellDef="let task">{{task.info}}</td>
            </ng-container>
            <ng-container matColumnDef="deadline">
                <th mat-header-cell *matHeaderCellDef>Task Deadline</th>
                <td mat-cell *matCellDef="let task">{{task.deadline}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
            <tr mat-row *matRowDef="let row; columns: columnNames;" style="text-align:left;"></tr>
        </table>

    </div>
</div>