<div>
    <button>Basic Button</button>
    <button mat-button>Basic Mat Button</button>
    <button mat-button color="primary">Mat button primary color</button>
    <button mat-button color="accent">Mat button accent color</button>
    <button mat-button style="color:rgb(167, 111, 44)">Custom color button</button>
    <hr>
    <button mat-raised-button>Raised simple button</button>
    <button mat-icon-button>Icon Button</button>
    <hr>
    <button mat-stroked-button>Stroked basic button</button>
    <button mat-stroked-button color="warn">Stroked warn button</button>

    <hr>
    <button mat-fab>Fab</button>
    <button mat-fab style="color:white;background-color:red">Fab</button>
    <button mat-fab color="primary">Fab</button>
</div>